<a href="https://colab.research.google.com/github/c-quilo/premiereDroplets/blob/main/preprocessingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preprocessing data for Premiere Case Study 3

In [ ]:
!git clone https://github.com/c-quilo/premiereDroplets.git

fatal: destination path 'premiereDroplets' already exists and is not an empty directory.

In [ ]:
import numpy as np
import tensorflow.keras as tf
import pandas as pd
import matplotlib.pyplot as plt

Droplet experiment data is preprocessed

In [ ]:
directory = 'premiereDroplets/'
fileName = 'CaseStudy3_TableExperimentalData.xlsx'
sheetName = '1April edit'
df = pd.read_excel(directory + fileName, sheetName)

In [ ]:
df.head(10)

  Data origin (UoB/UCL)           Name  ...  Formation time, ms  STD.1
0                   UoB  No surfactant  ...               750.0    NaN
1                   UoB  No surfactant  ...               250.0    NaN
2                   UoB  No surfactant  ...               290.0    NaN
3                   UoB  No surfactant  ...               160.0    NaN
4                   UoB  No surfactant  ...               670.0    NaN
5                   UoB  No surfactant  ...               200.0    NaN
6                   UoB  No surfactant  ...               110.0    NaN
7                   UoB  No surfactant  ...                61.0    NaN
8                   UoB  No surfactant  ...               300.0    NaN
9                   UoB  No surfactant  ...               410.0    NaN

[10 rows x 14 columns]

In [ ]:
print(df.columns)

Index(['Data origin (UoB/UCL)', 'Name', 'Flowrate continous phase, mL/min',
       'Flowrate disperse phase, mL/min', 'Viscosity continous phase, mPa s',
       'Viscosity disperse phase, mPa s', 'CMC, mM',
       'Interfacial tension at solution concentration, mN/m',
       'Concentration, mM', 'Droplet diameter, mm', 'STD',
       'Droplet volume, mm3', 'Formation time, ms', 'STD.1'],
      dtype='object')

The following columns are dropped: Origin, Surfactant Name, Droplet Diameter (mm) STD, Droplet volume (mm3), and formation time (ms) STD. Additionally, experiments with missing values are also dropped

In [ ]:
df = df.drop(df.columns[[0, 1, 10, 11, 13]], axis=1)
df.head(10)
nOriginalRows = len(df.index)
df = df.dropna()
nFinalRows = len(df.index)
print('Number of rows dropped: ' + str(nOriginalRows - nFinalRows))
print('Number of features: ' + str(len(df.columns)))

Number of rows dropped: 216
Number of features: 9

The features are then normalised due to different units

In [ ]:
meanColumns = df.mean()
print(meanColumns)
stdColumns = df.std()
print(stdColumns)
# New normalised datframe
dfNorm = (df - meanColumns)/stdColumns
dfNorm.head(10)

Flowrate continous phase, mL/min                        0.062677
Flowrate disperse phase, mL/min                         0.018633
Viscosity continous phase, mPa s                        4.600000
Viscosity disperse phase, mPa s                         6.580536
CMC, mM                                                 7.691016
Interfacial tension at solution concentration, mN/m    14.772186
Concentration, mM                                      19.849062
Droplet diameter, mm                                    0.195033
Formation time, ms                                     47.839389
dtype: float64
Flowrate continous phase, mL/min                       5.036049e-02
Flowrate disperse phase, mL/min                        2.088875e-02
Viscosity continous phase, mPa s                       5.688355e-14
Viscosity disperse phase, mPa s                        2.403252e-01
CMC, mM                                                7.799463e+00
Interfacial tension at solution concentration, mN/m    9.480963e+00
Concentration, mM                                      3.770714e+01
Droplet diameter, mm                                   6.221175e-02
Formation time, ms                                     9.278626e+01
dtype: float64

   Flowrate continous phase, mL/min  ...  Formation time, ms
0                         -1.184996  ...            7.567506
1                         -1.184996  ...            2.178777
2                         -1.184996  ...            2.609876
3                         -1.184996  ...            1.208806
4                         -1.125426  ...            6.705309
5                         -1.125426  ...            1.639904
6                         -1.125426  ...            0.669933
7                         -1.125426  ...            0.141838
8                         -1.045999  ...            2.717650
9                         -1.045999  ...            3.903171

[10 rows x 9 columns]